{% for product in collection.products limit: product_limit %}
<div id="product-{%- for variant in product.variants limit: 1 -%}{{- variant.id -}}{%- endfor -%}" class="catalog-inner pano-sidebar-item">
  <div class="panorama-collection-item">
    <svg class="pano-catalog-placeholder" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100.05"><path d="M77.57,34.77C70.29,34.77,60.07,45,60.07,45L55,39.93S65.23,29.72,65.23,22.44C65.23,9.7,50,0,50,0S34.77,9.69,34.77,22.43c0,7.27,10.23,17.5,10.23,17.5L39.93,45S29.72,34.77,22.44,34.77C9.7,34.77,0,50,0,50S9.69,65.23,22.43,65.23c7.27,0,16.88-9.6,16.88-9.6l.55-.55c2.44,2.81,5.1,6.43,6.25,10a12.19,12.19,0,0,1,.69,3.66c0,1.79-.75,31.08-.75,31.08a38.39,38.39,0,0,0,8,0s-.74-29.28-.74-31.06A12.2,12.2,0,0,1,54,65.1c1.16-3.59,3.77-7.22,6.16-10l.56.56s9.6,9.61,16.87,9.61C90.3,65.23,100,50,100,50S90.31,34.77,77.57,34.77ZM34.92,50c-.3.25-8.58,7.23-12.48,7.23C16.18,57.28,11.67,53,7.92,50c4.09-3.21,8.63-7.28,14.53-7.28,3.69,0,12.15,7,12.47,7.23L35,50Zm7.8-27.61c0-6.25,4.3-10.76,7.27-14.51,3.21,4.09,7.28,8.63,7.28,14.53C57.28,26.2,50,35,50,35S42.72,26.4,42.72,22.43ZM50,57.21a70.69,70.69,0,0,0-5.26-7L50,45l5.28,5.26A67.79,67.79,0,0,0,50,57.21Zm27.56.07C73.8,57.28,65,50,65,50s8.62-7.28,12.59-7.28c6.25,0,10.76,4.3,14.51,7.27C88,53.2,83.46,57.28,77.56,57.28Z" style="fill:#dddddd"/></svg>
    <img class="pano-catalog-image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.featured_image.src | img_url: 'small' }}" alt="{{ product.featured_image.alt | escape }}" >
  </div>
  <div class="panorama-collection-item">
    <div class="sidebar-product-title">{{ product.title }}</div>
    {% for variant in product.variants limit: 1 %}
      <button id="addToCart" data-cart-add="{{ variant.id }}" class="btn btn--outline btn--small btn--color">Add to Cart</button>
    {% endfor %}
  </div>
</div>
{% endfor %}
