<!doctype html>
<html class="no-js">
<head>
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="alternate" href="https://www.sawderstudio.com" hreflang="en-us" />
    {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
    {% include 'social-meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    {{ 'panorama.css' | asset_url | stylesheet_tag }}
    {{ 'sawderstudio.css' | asset_url | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> -->

    {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}

    {{content_for_header}}

</head>

<body id="page-{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

{{content_for_layout}}

<wrapper class="panorama-wrapper">
  <a href="#" data-activates="slide-out" class="button-collapse menu-btn show-on-large"><i class="material-icons"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#000000" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" /></svg></i></a>
  <div id="panorama"></div>
</wrapper>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'panorama.js' | asset_url | script_tag }}

<script>
viewer = pannellum.viewer('panorama', ﻿{
    "type": "equirectangular",
    "panorama": "{{ collection.image.src | img_url: 'master', scale: 2, format: 'pjpg' | split:'?' | first }}",
    "autoLoad": true,
    "hotSpotDebug": true,
    "hotSpots": [
            {% for product in collection.products limit: product_limit %}
            {
            {% for field in product.metafields.c_f %}
            {{ field | first }}:{{ field | last }},
            {% endfor %}
            "cssClass": "custom-hotspot",
            "createTooltipFunc": hotspot,
            "createTooltipArgs":  {
              "title": "{{ product.title }}",
              "variantID": "{% for variant in product.variants limit: 1 %}{{ variant.id }}{% endfor %}"
              },
            },
            {% endfor %}
    ]
});
// Hot spot creation function
function hotspot(hotSpotDiv, args) {
    console.log(args);
    hotSpotDiv.classList.add('custom-tooltip');
    hotSpotDiv.setAttribute('data-cart-add', args.variantID);
    var span = document.createElement('span');
    span.innerHTML = args.title;
    hotSpotDiv.appendChild(span);
    span.style.width = span.scrollWidth - 20 + 'px';
    span.style.marginLeft = -(span.scrollWidth - hotSpotDiv.offsetWidth) / 2 + 'px';
    span.style.marginTop = -span.scrollHeight - 12 + 'px';
}
</script>

<script>
// initialize cart.js
jQuery(function() {
    CartJS.init({{ cart | json }}, {
        "dataAPI": true,
        "requestBodyClass": "loading"
    });
});
</script>

</body>
</html>
