<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sawder Studio Panoramic Viewer</title>

    {{ 'panorama.scss' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}

    {{content_for_header}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lightgallery/1.3.9/js/lightgallery.min.js"></script>
    <script type="text/javascript" src="https://cdn.pannellum.org/2.3/pannellum.js"></script>

</head>
<body>

{{content_for_layout}}

<wrapper class="panorama-wrapper">
  <a href="#" data-activates="slide-out" class="button-collapse menu-btn show-on-large"><i class="material-icons"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#000000" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" /></svg></i></a>
  <div id="panorama"></div>
</wrapper>

<!-- <script>

$(window).load(function() {

  $(this).lightGallery({
      dynamic: true,
      download: false,
      closable: false,
      iframeMaxWidth: '100%',
      height: '100%',
      escKey: false,
      dynamicEl: [{
          "src": 'https://cdn.pannellum.org/2.3/pannellum.htm?panorama={{ collection.image.src | img_url: 'master', scale: 2, format: 'pjpg' | split:'?' | first }}&autoLoad=true',
          'subHtml': '<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>',
          'iframe': true
      }, {
          "src": 'https://cdn.pannellum.org/2.3/pannellum.htm?config=https://pannellum.org/configs/hot-spots.json&autoLoad=true',
          'subHtml': '<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>',
          'iframe': true
      }, {
          "src": 'https://cdn.pannellum.org/2.3/pannellum.htm?panorama=https://pannellum.org/images/jfk.jpg&autoRotate=-2',
          'subHtml': '<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>',
          'iframe': true
      },
      {
          "src": 'https://cdn.pannellum.org/2.3/pannellum.htm?panorama=https://i.imgur.com/G7t9QD9.jpg&autoLoad=true',
          'subHtml': '<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>',
          'iframe': true
      },
      {
          "src": 'https://cdn.pannellum.org/2.3/pannellum.htm?panorama=https://pannellum.org/images/alma-correlator-facility.jpg&autoLoad=true',
          'subHtml': '<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>',
          'iframe': true
      },
      {
          "src": 'https://cdn.pannellum.org/2.3/pannellum.htm?panorama=https://pannellum.org/images/tocopilla.jpg&autoLoad=true',
          'subHtml': '<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>',
          'iframe': true
      }]
  })

});

</script> -->

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/0.4.1/rivets-cart.min.js"></script>
{{ 'panorama.js' | asset_url | script_tag }}

<script type="text/javascript">
    jQuery(function() {
        CartJS.init({{ cart | json }}, {
            "dataAPI": true,
            "requestBodyClass": "loading"
        });
    });
</script>

<script>
// Create viewer
viewer = pannellum.viewer('panorama', ﻿{
    "type": "equirectangular",
    "panorama": "{{ collection.image.src | img_url: 'master', scale: 2, format: 'pjpg' | split:'?' | first }}",
    "autoLoad": true,
    "hotSpotDebug": true,
    "hotSpots": [
            {% for product in collection.products limit: product_limit %}
            {
            {% for field in product.metafields.c_f %}
            {{ field | first }}:{{ field | last }},
            {% endfor %}
            "cssClass": "custom-hotspot",
            "createTooltipFunc": hotspot,
            "createTooltipArgs":  {
              "title": "{{ product.title }}",
              "variantID": "{% for variant in product.variants limit: 1 %}{{ variant.id }}{% endfor %}"
              },
            },
            {% endfor %}
    ]
});

// Hot spot creation function
function hotspot(hotSpotDiv, args) {
    console.log(args);
    hotSpotDiv.classList.add('custom-tooltip');
    hotSpotDiv.setAttribute('data-cart-add', args.variantID);
    var span = document.createElement('span');
    span.innerHTML = args.title;
    hotSpotDiv.appendChild(span);
    span.style.width = span.scrollWidth - 20 + 'px';
    span.style.marginLeft = -(span.scrollWidth - hotSpotDiv.offsetWidth) / 2 + 'px';
    span.style.marginTop = -span.scrollHeight - 12 + 'px';
}
</script>

</body>
</html>
