{% capture header_title %} {{ 'general.search.title' | t }} {% endcapture %}
{% include 'page_header' with header_title %}

<div class="wrapper bottom-margin">

{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

  {% paginate search.results by 24 %}

    {% if search.performed %}

      <div class="collection-list grid-uniform small-gutter">

        {% for item in search.results %}

          {% if item.object_type == 'product' %}
            {% assign product = item %}
            {% include 'product-grid-item' %}
          {% else %}
            <div class="product text-center">

              {% if item.featured_image %}
                {% assign img = item.featured_image %}
              {% elsif item.image %}
                {% assign img = item.image %}
              {% else %}
                {% assign img = '' %}
              {% endif %}

              {% if img != blank %}
                <a href="{{ item.url }}" class="grid__image">
                  <img class="retina-img" src="{{ item | img_url: 'large' }}" data-retina-src="{{ item | img_url: 'grande' }}" alt="{{ item.title | escape }}">
                </a>
              {% endif %}

              <p class="h3">{{ item.title | link_to: item.url }}</p>

              {% if img == blank %}
                <p class="excerpt">{{ item.content | strip_html | truncatewords: 50 }}</p>
              {% endif %}

            </div>
          {% endif %}

        {% endfor %}

      </div>

      {% include 'page_pagination' %}

    {% endif %}

  {% endpaginate %}

{% endunless %}

{{ '//cdnjs.cloudflare.com/ajax/libs/packery/1.4.3/packery.pkgd.min.js' | script_tag }}

<script>
$(document).ready( function() {
  theme.collectionGridMasonry();
});
</script>
